<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547845405757-olekgnoa5l4441elo8bg0svf0urhpkis.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547845405757-olekgnoa5l4441elo8bg0svf0urhpkis</string>
	<key>API_KEY</key>
	<string>AIzaSyC8Z8V9jX3JRB2PyiRtnP3fSEviMw9iC0w</string>
	<key>GCM_SENDER_ID</key>
	<string>547845405757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michelleRaouf.meWeather</string>
	<key>PROJECT_ID</key>
	<string>demoapp-295814</string>
	<key>STORAGE_BUCKET</key>
	<string>demoapp-295814.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547845405757:ios:7185ab7e93995a23233e54</string>
</dict>
</plist>